<section id="dashboard-show">
  <div class="actions-wrapper">
    <div class="goals-background">

      <div class="goals-wrapper">
        <ul class="goals-list">
          <% if @all_goals.present? %>
            <% @all_goals.each do |goal| %>

              <li class="goal-item" style="border: solid 5px <%= goal.color %>">
                <div class="goal-title">
                  <%= goal.name.truncate(20) %>
                </div>
                <div class="divider"></div>

                <div class="completed-wrapper completed-goal">
                  <%= link_to goal_path(goal) do %>
                    <%= icon 'arrow-up-square-fill' %>
                  <% end %>

                  <div class="progress-info">
                    <div>
                      <%= t('done') %>
                      <span><%= completed_for(goal).first %></span>
                      <%= t('of') %>
                      <%= completed_for(goal).last %>
                    </div>
                    <div>
                      <span>
                        <%= calculate_tasks(goal: goal, user: current_user).to_s + '%' %>
                      </span>
                    </div>
                  </div>

                  <div class="progress-bar goal-bar">
                    <div class="progress" style="width: <%= calculate_tasks(goal: goal, user: current_user) %>%;"></div>
                  </div>
                </div>
              </li>

            <% end %>
          <% else %>
            <span class="text-center fs-3">No Goals have yet</span>
          <% end %>
        </ul>
      </div>

      <div class="new_goal">
        <%= link_to t('new_goal'), new_goal_path, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>

    <div class="actions-items">

      <div class="actions-header">
        <div class="items-title"><%= t('all_tasks') %></div>
        <%= link_to t('new_task'), new_dashboard_task_path, class: 'btn btn-primary btn-sm new-task' %>
      </div>

      <div class="divider"></div>

      <ul class="action-list">
        <% if @all_tasks.present? %>
          <% @all_tasks.each do |task| %>
            <li class="action-item">
              <%= task_complete_link(task, complete_dashboard_task_path(task)) %>
              <span><%= task.name %></span>
              <i class="<%= 'bi bi-check-lg' if task.complete? %>"></i>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="completed-wrapper">

        <div class="progress-bar">
          <div class="progress" style="width: <%= calculate_tasks(goal: @goal, user: current_user) %>%;"></div>
        </div>

        <div class="completed-info">
          <div>
            <%= t('done') %>
            <span><%= completed_for(current_user).first %></span>
            <%= t('of') %>
            <%= completed_for(current_user).last %>
          </div>
        </div>

        <div class="completed-show">
          <% unless params[:all_tasks].present? %>
            <%= link_to dashboard_path(all_tasks: 'all'), class: 'show-all' do %>
              <%= icon 'check-square' %>
              <%= t('show') %>
            <% end %>
          <% else %>
            <%= link_to dashboard_path(open_tasks: 'open'), class: 'show-all' do %>
              <%= icon 'check-square' %>
              <%= t('hide') %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="actions-items">

      <div class="actions-header">
        <div class="items-title"><%= t('all_habits') %></div>
        <%= link_to t('new_habit'), new_dashboard_habit_path, class: 'btn btn-primary btn-sm new-task' %>
      </div>

      <div class="divider"></div>

      <ul class="action-list">
        <% if @all_habits.present? %>
          <% @all_habits.each do |habit| %>
            <li class="action-item">
              <%= habit_complete_link(habit, complete_dashboard_habit_path(habit)) %>
              <span><%= habit.name %></span>
              <i class="<%= 'bi bi-check-lg' if habit.completed_today? %>"></i>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="completed-wrapper">
        <div class="progress-bar">
          <div class="progress" style="width: <%= calculate_habits %>%;"></div>
        </div>

        <div class="completed-info">
          <div>
            <%= t('done') %>
            <span><%= habits_completed_for(current_user).first %></span>
            <%= t('of') %>
            <%= habits_completed_for(current_user).last %>
          </div>
        </div>

        <div class="completed-show">
          <% if params[:all_habits].present? %>
            <%= link_to dashboard_path(open_habits: 'open'), class: 'show-all d-block' do %>
              <%= icon 'check-square' %>
              <%= t('hide') %>
            <% end %>
          <% else %>
            <%= link_to dashboard_path(all_habits: 'all'), class: 'show-all d-block' do %>
              <%= icon 'check-square' %>
              <%= t('show') %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</section>
