<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExample"><%= t('goal_markers') %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="table-body">
      <table class="table table-hover">
        <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= t('activerecord.attributes.goal.name') %></th>
          <th scope="col"><%= t('activerecord.attributes.goal.color') %></th>
        </tr>
        </thead>
        <tbody class="overflow-y-auto">
        <% goals.each_with_index do |goal, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= goal.name %></td>
            <td style="background-color: <%= goal.color %>;"></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>