<div class="mt-3" id="calendar-show">

  <a href="#" class="go-top">
    <%= icon 'arrow-up-circle' %>
  </a>

  <div class="mt-3 text-center">
    <div class="table-header">
      <h2>
        <%= t('navigation.calendar').upcase %>
      </h2>
    </div>

    <div class="input-group mt-3">
      <%= link_to '', data: { bs_toggle: "offcanvas", bs_target: "#offcanvasExample", aria_controls: "offcanvasExample" }, 
                      class: 'btn btn-primary btn-sm link-icon mx-2' do %>
        <%= inline_svg_tag("icons/bootstrap/highlighter", options = {class: 'me-1'}) %>
        <%= t('goal_markers') %>
      <% end %>

      <div class="filters">
        <%= render 'form' %>
      </div>
  </div>


  <%= month_calendar do |date| %>
    <%= date %>
    <% habits_for.each do |habit| %>
      <% if habit.completion_dates.any? { |cd| cd.date == date.to_date } %>
        <div class="completed"
             style="background: linear-gradient(
               to right,
                 <%= habit.goal.color %> 7%,
                 rgba(24, 225, 68, 0.5) 0%);">
          <%= habit.name %>
        </div>
      <% else %>
        <div class="uncompleted"
             style="background: linear-gradient(
               90deg,
                 <%= habit.goal.color %> 7%,
                 rgba(239, 22, 22, 0.5) 0%);">
          <%= habit.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= render 'markers_canvas', goals: @goals %>

