<div class="mt-3 text-center">
  <h1>Calendar</h1>
  
  <div class="row">
    <div class="table-wrapper-scroll-y my-custom-scrollbar col-md-3">
      <table class="table border border-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Goal</th>
            <th scope="col">Mark</th>
          </tr>
        </thead>
        <% @goals.each_with_index do |goal, index| %>
          <tbody>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= goal.name %></td>
              <td style="background-color: <%= goal.color %>;"></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    
    <div class="col-md-4 offset-md-1"><%= form_with url: calendar_path, method: :get, class: 'text-center mb-3' do %>
        <%= text_field_tag :search, params[:search],
                           placeholder: "Let's search your habits",
                           class: 'input-group-text',
                           style: 'display: inline-block;' %>
        <%= submit_tag 'Search', name: nil,
                       class: 'btn btn-primary mb-1' %>
      <% end %>
    </div>
    
    <%= month_calendar do |date| %>
      <%= date %>
      <% habits_for.each do |habit| %>
        <% if habit.completion_dates.any? { |cd| cd.date == date.to_date } %>
          <div class="completed border border-dark" 
               style="background: linear-gradient(
                                  to right,
                                  <%= habit.goal.color %> 5%,
                                  rgba(24, 225, 68, 0.5) 10%);">
            <%= habit.name %>
          </div>
        <% else %>
          <div class="uncompleted border border-dark" 
               style="background: linear-gradient(
                                  to right,
                                  <%= habit.goal.color %> 5%,
                                  rgba(239, 22, 22, 0.5) 10%);">
             <%= habit.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
