<div data-controller="calendar" class="mt-3" id="calendar_show"> <!-- TODO - add calendar type(habits, tasks) -->

  <a href="#" class="go-top">
    <%= icon 'arrow-up-circle' %>
  </a>

  <div class="table-header list">
    <h2 class="title">
      <%= t('navigation.calendar').upcase %>
    </h2>
  </div>

  <% if habits_for.empty? %>
    <%= render 'shared/empty', title: t('partials.empty.calendar.title'),
                               message: t('partials.empty.calendar.message'),
                               icon_class: 'calendar4-week display-1' %>
  <% else %>
    <div class="calendar__body mt-3 text-center">
      <div class="input-group mt-3">
        <%= link_to '', data: { bs_toggle: 'offcanvas', bs_target: '#offcanvasExample', aria_controls: 'offcanvasExample' }, 
                        class: 'btn btn-primary btn-sm link-icon mx-2' do %>
          <%= inline_svg_tag('icons/bootstrap/highlighter', options = { class: 'me-1' }) %>
          <%= t('goal_markers') %>
        <% end %>

        <div class="filters">
          <%= render 'form' %>
        </div>
      </div>


      <%= month_calendar do |date| %>
        <%= date %>
        <% habits_for.each do |habit| %>
          <% completion_date = habit.completion_dates.find { |cd| cd.date == date.to_date } %>
          <% completed = !completion_date.nil? %>

          <%= tag.div tag.span(habit.name), data: { complete: completed, goal_marker: habit.goal.color } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'markers_canvas', goals: @goals %>

