<%= form_with(model: [@goal, @task]) do |f| %>
  <%= render "shared/error_messages", resource: @task %>


  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3 form-check form-switch">
    <%= f.label :complete, {class: 'form-check-label', for: "flexSwitchCheckDefault"} %>
    <%= f.check_box :complete, {role: 'switch', class: "form-check-input", id: "flexSwitchCheckDefault"} %>
  </div>

  <div class="mb-3">
    <%= f.label :deadline %>
    <%= f.date_select :deadline,
                      { prompt: { day: :select_day, month: :select_month, year: :select_year },
                        start_year: Date.current.year,
                      },
                      class: "form-select mt-3" %>
  </div>

  <div class="form-buttons">
    <%= link_to t('back_to_goal'), goal_path(@goal), class: 'btn btn-secondary' %>
    <%= f.submit "#{@task.new_record? ? t('create') : t('update')}", class: 'btn btn-primary action' %>
  </div>

<% end %>

