<%= form_with(model: [@goal, @task]) do |f| %>
  <%= render "shared/error_messages", resource: @task %>


  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :complete %>
    <%= f.check_box :complete, {} %>
  </div>

  <div class="mb-3">
    <%= f.label :deadline %>
    <%= f.date_select :deadline, { prompt: { day: 'Select Day', month: 'Select Month', year: 'Select Year' } }, class: "form-select mt-3" %>
  </div>

  <div class="form-buttons">
    <%= link_to t('back_to_goal'), goal_path(@goal), class: 'btn btn-secondary' %>
    <%= f.submit "#{@task.new_record? ? t('create') : t('update')}", class: 'btn btn-primary action' %>
  </div>

<% end %>

