<table class="tracking">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th><%= t('name') %></th>
    <th><%= t('type') %></th>
    <th><%= sortable 'complete' %></th>
    <th><%= t('created_at') %></th>
    <th>
      <%= sortable 'deadline' %>
    <th><%= t('days_left.base') %></th>
  </tr>
  </thead>
  <tbody>
  <% items.each_with_index do |item, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= link_to item.name, item.class != Goal ? item.goal : item %></td>
      <td><%= item.class.name %></td>
      <td>
        <% if item.complete? %>
          <span class="badge rounded-pill text-bg-success"><%= t('done') %></span>
        <% else %>
          <span class="badge rounded-pill text-bg-light"><%= t('in_process') %></span>
        <% end %>
      </td>
      <td><%= item.created_at&.strftime('%d-%m-%Y') %></td>
      <td><%= item.deadline&.strftime('%d-%m-%Y') %></td>
      <td><%= days_left(item) %></td>
    </tr>
  <% end %>
  </tbody>
</table>