<%= form_with(model: user, url: path, local: true) do |f| %>
  <%= render "shared/error_messages", resource: user %>

  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "mb-1 form-control" %>
      </div>

      <% unless user.new_record? %>
        <div class="mb-3">
          <%= f.label :old_password %>
          <%= f.password_field :old_password, class: 'form-control' %>
        </div>
      <% end %>

      <%= f.submit "#{user.new_record? ? 'Create account' : 'Update'}", class: "mb-2 btn btn-primary" %>
    </div>
  </div>
<% end %>
