<%= form_with(model: user, url: path, local: true) do |f| %>
  <%= render "shared/error_messages", resource: user %>
      <div class="row">
        <div class="col-sm-12 text-center">
          <% unless user.new_record? %>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar.variant(resize_to_fill: [100, nil]), class: 'rounded-circle' %>
              <%= link_to t('delete'), delete_image_attachment_user_url(user),
                          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                          class: 'btn btn-sm btn-danger d-block mt-3 col-sm-4 m-auto' %>
            <% else %>
              <%= user.decorate.gravatar(size: 100, css_class: 'rounded-circle') %>
            <% end %>
          <% end %>
        </div>

        <div class="mb-3 mt-3">
          <%= f.label :avatar, t('avatar') %>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "mb-1 form-control" %>
      </div>

      <% unless user.new_record? %>
        <div class="mb-3">
          <%= f.label :old_password %>
          <%= f.password_field :old_password, class: 'form-control' %>
        </div>
      <% end %>

      <div class="form-buttons">
        <%= link_to t('back'), :back, class: "btn btn-secondary mt-3" %>
        <%= f.submit "#{user.new_record? ? t('authenticate.sign_up') : t('update')}", class: "btn btn-primary action mt-3" %>
      </div>
<% end %>
