<div class="col-sm-12 offset-md-4 col-md-4 mt-3">
  <div class="card">
    <div class="table-header">
      <h2 class="text-center mb-0"><%= t('user_info') %></h2>
    </div>

    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-5"><%= t('activerecord.attributes.user.name') %></dt>
        <dd class="col-sm-7"><%= user.name %></dd>

        <dt class="col-sm-5"><%= t('activerecord.attributes.user.email') %></dt>
        <dd class="col-sm-7"><%= user.email %></dd>
      </dl>
    </div>
  </div>
</div>
</div>

