<div class="col-md-12">
  <h2 class="text-center mt-3"><%= @goal.try(:name)&.truncate(30) %> <%= t('habits_chart').upcase %></h2>

  <div class="chart-buttons text-center mt-3">
    <% if @goal %>
      <%= chart_link_to t('date.day'), goal_habit_chart_path(@goal, period: 'day'), 'day' %>
      <%= chart_link_to t('date.week'), goal_habit_chart_path(@goal, period: 'week'), 'week' %>
      <%= chart_link_to t('date.month'), goal_habit_chart_path(@goal, period: 'month'), 'month' %>

      <%= link_to t('switch_to_tasks'), goal_task_chart_path(@goal, period: 'day'), class: 'btn btn-primary btn-sm mx-5' %>
    <% else %>
      <%= chart_link_to t('date.day'), habit_chart_path(period: 'day'), 'day' %>
      <%= chart_link_to t('date.week'), habit_chart_path(period: 'week'), 'week' %>
      <%= chart_link_to t('date.month'), habit_chart_path(period: 'month'), 'month' %>

      <%= link_to t('show_tasks'), task_chart_path(period: 'day'), class: 'btn btn-primary btn-sm mx-5' %>
    <% end %>
  </div>


  <% if @habits.present? %>
    <%= set_chart(nil, @habits) %>
  <% else %>
    <div class="text-center mt-5 display-5">No habits</div>
  <% end %>

  <% if @goal %>
    <%= link_to t('back_to_goal'), goal_path(@goal), class: 'btn btn-secondary mt-2' %>
  <% else %>
    <%= link_to t('back_to_dashboard'), dashboard_path, class: 'btn btn-secondary mt-2' %>
  <% end %>
</div>