<div class="chart mt-3" id="chart">
  <div class="table-header list">
    <h2 class="text-center">
      <%= @goal.try(:name)&.truncate(30) %> <%= t('habits_chart').upcase %>
    </h2>
  </div>


  <div class="chart__body col-md-12">
    <div class="buttons-list center mt-3">
      <% if @goal %> // TODO - create helper for links group
        <%= active_link_to t('date.day'), goal_habit_chart_path(@goal, period: 'day') %>
        <%= active_link_to t('date.week'), goal_habit_chart_path(@goal, period: 'week'), class: 'mx-1' %>
        <%= active_link_to t('date.month'), goal_habit_chart_path(@goal, period: 'month') %>

        <%= link_to t('switch_to_tasks'), goal_task_chart_path(@goal, period: 'day'), class: 'btn btn-primary btn-sm mx-5' %>
      <% else %>
        <% if params[:chart_type] == 'column' %>
          <%= active_link_to t('date.day'), habit_chart_path(period: 'day', chart_type: 'column') %>
          <%= active_link_to t('date.week'), habit_chart_path(period: 'week', chart_type: 'column'), class: 'mx-1' %>
          <%= active_link_to t('date.month'), habit_chart_path(period: 'month', chart_type: 'column') %>

          <%= active_link_to 'Line chart', habit_chart_path(period: 'day') %>
        <% else %>
          <%= active_link_to t('date.day'), habit_chart_path(period: 'day') %>
          <%= active_link_to t('date.week'), habit_chart_path(period: 'week'), class: 'mx-1' %>
          <%= active_link_to t('date.month'), habit_chart_path(period: 'month') %>

          <%= active_link_to 'Column chart', habit_chart_path(chart_type: 'column') %>
        <% end %>


        <%= link_to t('show_tasks'), task_chart_path(period: 'day'), class: 'btn btn-primary btn-sm mx-5' %>
      <% end %>
    </div>


    <% if params[:chart_type] == 'column' %>
      <div class="mt-5"> <%= column_chart habits_completions_path(period: params[:period]) %> </div>
    <% else %>
      <div class="mt-5"> <%= line_chart habits_chart_path(period: params[:period]) %> </div>
    <% end %>

    <% if @goal %>
      <%= link_to t('back_to_goal'), goal_path(@goal), class: 'btn btn-secondary btn-sm mt-2' %>
    <% else %>
      <%= link_to t('back_to_dashboard'), dashboard_path, class: 'btn btn-secondary btn-sm mt-2' %>
    <% end %>
  </div>
</div>