<div class="chart mt-3" id="chart">
  <div class="col-md-12">
    <div class="table-header list">
      <h2 class="text-center">
        <%= @goal.try(:name)&.truncate(30) %>
        <%= t('tasks_chart').upcase %>
      </h2>
    </div>

    <div class="chart__body">
      <div class="buttons-list center mt-3">
      <% if @goal %>
        <%= active_link_to t('date.day'), goal_task_chart_path(@goal, period: 'day') %>
        <%= active_link_to t('date.week'), goal_task_chart_path(@goal, period: 'week'), class: 'mx-1' %>
        <%= active_link_to t('date.month'), goal_task_chart_path(@goal, period: 'month') %>

        <%= link_to t('switch_to_habits'), goal_habit_chart_path(@goal, period: 'day'), class: 'btn btn-primary btn-sm mx-5' %>
      <% else %>
        <%= active_link_to t('date.day'), task_chart_path(period: 'day') %>
        <%= active_link_to t('date.week'), task_chart_path(period: 'week'), class: 'mx-1' %>
        <%= active_link_to t('date.month'), task_chart_path(period: 'month') %>

        <%= link_to t('show_habits'), habit_chart_path(period: 'day'), class: 'btn btn-primary btn-sm mx-5' %>
      <% end %>
    </div>


    <% if @tasks.present? %>
      <div class="mt-5"><%= set_chart(@tasks, nil) %></div>
    <% else %>
      <div class="empty-chart text-center mt-5 display-5">No tasks</div>
    <% end %>

    <% if @goal %>
      <%= link_to t('back_to_goal'), goal_path(@goal), class: 'btn btn-secondary btn-sm mt-2' %>
    <% else %>
      <%= link_to t('back_to_dashboard'), dashboard_path, class: 'btn btn-secondary btn-sm mt-2' %> 
    <% end %>
    </div>
  </div>
</div>