<div class="container">
  <div class="col-sm-12 col-md-4 offset-md-4 mt-5">
    <%= form_with(model: @habit, url: dashboard_habits_path) do |f| %>
      <%= render "shared/error_messages", resource: @habit %>

      <div class="card">
        <div class="table-header">
          <h2 class="text-center"><%= t('new_habit') %> </h2>
        </div>

        <div class="card-body">
          <div class="mb-3">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :goal_id %>
            <%= f.select :goal_id, current_user.goals.all.collect { |c| [c.name, c.id] }, {}, class: 'form-select' %>
          </div>

          <div class="form-buttons">
            <%= link_to t('back_to_dashboard'), dashboard_path, class: 'btn btn-secondary' %>
            <%= f.submit t('create'), class: "btn btn-primary action" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


