<div class="simple-calendar">
  <div class="row">
    <div class="calendar-heading col-md-12 text-center">
      <%= link_to t('previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-secondary btn-sm" %>
      <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to t('next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-primary btn-sm" %>
    </div>
  </div>

  <div class="date_select">
    <%= form_with url: calendar_path, method: :get, class: 'd-flex justify-content-center' do |f| %>
      <%= f.date_field :start_date %>
      <%= f.submit t('search'), default: 'Go', class: 'btn btn-primary btn-sm action mx-1' %>
    <% end %>
  </div>

  <table class="table table-striped mt-2">
    <thead>
    <tr>
      <% date_range.slice(0, 7).each do |day| %>
        <th><%= t('date.abbr_day_names')[day.wday] %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
              <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
            <% else %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
