<% if logged_in? %>
  <li class="nav-item dropdown">
    <span class="dropdown-toggle-icon"></span>
    <a class="nav-link dropdown-toggle nav-link-dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_user.gravatar %>
      Hello, <%= current_user.name_or_email %>
      <i class="bi bi-caret-down-fill"></i>
    </a>

    <!--dropdown-menu-lg-end значит выравнивание выпадающего списка по левому краю-->
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
      <li><%= link_to "New Category", new_category_path, class: "dropdown-item" %></li>
      <li><%= link_to 'Edit account', edit_user_path(current_user), class: "dropdown-item" %></li>
      <li><hr class="dropdown-divider"></li>
      <%= link_to 'Log out', logout_path, method: :delete, class: "dropdown-item" %>
    </ul>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Sign Up", signup_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Login", login_path, class: "nav-link" %>
  </li>
<% end %>


