<h1 class="text-center"><%= t('add_goal') %></h1>

<div class="col-sm-12 col-md-4 offset-md-4">
  <%= form_with(url: add_goal_challenge_path(@challenge), method: :post) do |f| %>
    <%= render "shared/error_messages", resource: @challenge_goal %>

    <div class="card">
      <div class="card-body">

        <div class="mb-3">
          <%= f.label :goal_id, t('activerecord.attributes.category.goal_id') %>
          <%= f.select :goal_id, options_for_select(current_user.goals.pluck(:name, :id),
                                                    params[:goal_id]), {}, class: 'form-select', include_blank: false
          %>
        </div>

        <%= f.submit t('create'), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>