<%= render 'shared/remote_modal', title: t('invite_user'), fade_in: true do %>
  <%= form_with(url: create_invitation_challenge_path(@challenge), method: :post, class: 'mt-3') do |f| %>
    <%= render 'shared/error_messages', resource: @challenge %>

    <div class="mb-3">
      <%= f.label :email, t('activerecord.attributes.user.email') %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-buttons">
      <%= link_to t('back'), '#', data: { bs_dismiss: 'modal' }, class: 'btn btn-secondary mt-3' %>
      <%= f.submit t('create'), class: 'btn btn-primary action mt-3' %>
    </div>
  <% end %>
<% end %>