<h2 class="text-center mt-3"><%= t('new_challenge') %></h2>

<div class="col-sm-12 col-md-4 offset-md-4">
  <%= form_with(model: @challenge) do |f| %>
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :deadline %>
          <%= f.datetime_field :deadline, class: 'form-control' %>
        </div>

        <%= f.submit t('create'), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>