<div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-5">
  <%= form_with(model: @challenge) do |f| %>
    <%= render 'shared/error_messages', resource: @challenge %>
    <div class="card">
      <div class="table-header">
        <h2 class="text-center">
          <%= t('new_challenge') %>
        </h2>
      </div>

      <div class="card-body">
        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :deadline %>
          <%= f.datetime_field :deadline, class: 'form-control' %>
        </div>

        <div class="form-buttons">
          <%= link_to t('back'), challenges_path, class: 'btn btn-secondary mt-3' %>
          <div>
            <%= f.submit t('create'), class: "btn btn-primary action mt-3" %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>