<section id="challenges-show">
  <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center mt-3 challenge-header">
    <div class="table-header">
      <h2 class="text-center">
        <%= @challenge.name %>
      </h2>
    </div>

    <div class="text-center fs-4 mt-2">
      <%= @challenge.created_at.strftime('%d-%m-%Y') %> /
      <%= @challenge.deadline.strftime('%d-%m-%Y') %>
      <% if days_left(@challenge) == 0 %>
        (<%= t('challenge_end').downcase %>)
      <% else %>
        (<%= t('days_left', count: days_left(@challenge)).downcase %>)
      <% end %>
    </div>

    <div class="buttons-list mt-2">
      <div class="buttons-list__left">
        <%= link_to create_invitation_challenge_path(@challenge),
                    class: 'mt-2 btn btn-sm mx-3 btn-primary link-icon' do %>
          <%= icon('person-plus-fill') %>
          <span><%= t('invite_user') %></span>
        <% end if @challenge.check_creator(current_user) %>
        
        <%= link_to add_goal_challenge_path(@challenge),
                    class: 'mt-2 btn btn-sm btn-primary mx-3 link-icon' do %>
          <%= icon('plus-lg') %>
          <span><%= t('add_goal') %></span>
        <% end %>
      </div>

      <div class= "buttons-list__right">
        <%= link_to '', data: { bs_toggle: "modal", bs_target: "#exampleModal#{@challenge.id}" },
                         class: 'mt-2 btn btn-sm btn-warning link-icon' do %>
          <%= icon('box-arrow-right') %>
          <%= t('leave') %>
        <% end %>
      </div>
    </div>

    <div class="winner-board">
      <div class="card">
        <div class="card-body">
          <div class="fs-4 fw-medium text-uppercase">
            <%= t('winners') %>
          </div>

          <% winners = winners_of(@challenge) %>
          <div class="winner-board__user">
            <% if winners.present? %>
              <% winners.each do |winner, tasks| %>
                <div class="winner-board__avatar mt-2" id="avatar-wrapper">
                  <%= user_avatar(winner, size: 60, style: "border: 5px solid #{load_level_color(tasks)};") %>
                  <span class="winner-board__user-name fw-medium d-block"><%= winner.name %></span>
                </div>
              <% end %>
            <% else %>
              <%= inline_svg_tag("icons/basic/question", options = { height: 60, width: 60, class: 'question mt-2' }) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons-list center">
      <%= link_to challenge_path(@challenge, filter: "#{current_user.id}"),
                  class: "link-icon #{params[:filter] == "#{current_user.id}" ?
                              'btn btn-primary btn-sm' :
                              'btn btn-outline-primary btn-sm'}" do %>
        <%= icon('person-circle') %>
        <%= t('my_goals') %>
      <% end %>
      
      <%= link_to challenge_path(@challenge),
                  class: "link-icon mx-3 #{params[:filter].nil? ?
                              'btn btn-primary btn-sm' :
                              'btn btn-outline-primary btn-sm'}" do %>
        <%= icon('list') %>
        <%= t('all_goals')%>
      <% end %>

      <%= canvas_button 'rating', icon: 'bar-chart-fill', klass: 'link-icon btn-sm' %>
    </div>
  </div>

  <div class="challenge-wrapper mt-3">
    <ul class="goal-items">

      <% if @challenge_goals.present? %>
        <% @challenge_goals.each_with_index do |goal| %>

          <li class="goal-items__item" style="border-top: 7px solid <%= load_level_color(goal.tasks.count) %>">
            <% percentage = calculate_tasks(goal: goal, user: goal.user) %>

            <%= link_to '', '#', data: { bs_toggle: 'modal', bs_target: "#exampleModal#{goal.id}"},
                                class: 'btn-close position-absolute' if goal.user == current_user %>

            <%= render 'layouts/confirmation_dialog', item: goal,
                       path: destroy_goal_challenge_path(@challenge, goal_id: goal.id),
                       action_name: t('delete') %>

            <div class="goal-items__progress fw-bold fs-4" style="background:
              radial-gradient(closest-side, white 79%, transparent 80%),
                conic-gradient(rgba(9, 194, 30, 1) <%= percentage %>%, rgba(39, 245, 63, 0.21) 0%);">
              <span><%= percentage %>%</span>
            </div>
            
            <div class="goal-items__user text-center mt-1 fw-medium">
              <%= icon('star-fill', style: 'color: coral;') if @challenge.check_creator(goal.user) %>
              <%= goal.user.name %>
            </div>

            <div class="goal-items__tasks text-center mt-1">
              <% if goal.user == current_user %>
                <%= link_to t('target', count: goal.tasks.count), goal, class: 'link-offset-2 hover-link underline' %>
              <% else %>
                <%= t('target', count: goal.tasks.count) %>
              <% end %>
            </div>

            <div class="bottom-wrapper">
              <div class="bottom-wrapper__user-photo"><%= user_avatar(goal.user) %></div>
              <div class="bottom-wrapper__created-ago fst-italic">
                <%= time_ago_in_words(goal.created_at) %>
                <%= t('ago') %>
              </div>
            </div>
          </li>
        <% end %>
      <% else %>
        <div class="text-center fs-2">No goals</div>
      <% end %>
    </ul>
  </div>
</section>

<%= render 'members_canvas', members: @members, challenge: @challenge %>
<%= render 'layouts/confirmation_dialog', item: @challenge, path: leave_challenge_path(@challenge), action_name: t('leave_challenge') %>




