<h1 class="text-center">My Goals (<%= goals_complete(@goals) %> are completed)</h1>
<hr>
<%= form_with url: goals_path, method: :get, class: 'text-center mb-3' do %>
  <%= text_field_tag :search, params[:search],
                     placeholder: 'Search...',
                     class: 'input-group-text',
                     style: 'display: inline-block;' %>
  <%= submit_tag 'Search', name: nil,
                 class: 'btn btn-primary mb-1' %>
<% end %>
<h2 class="text-center">
  <%= link_to "New Goal", new_goal_path(@goal), class: "btn btn-primary btn-lg" %>
</h2>
<div class="col-sm-12 col-md-4 offset-md-4 box" style="">
  <h2>Goals</h2>
  <ul class="">
    <%= render 'goals' %>
  </ul>
</div>
