<div id="goals-index">
  <div class="goals-block">
    <div class="mobile-hide">
      <%= render 'categories/categories' %>
    </div>

    <div class="goals-wrapper col-sm-12 col-md-12 col-lg-8 col-xxl-8">
      <div class="table-main">
        <div class="table-wrapper">
          <div class="table-header">
            <h2 class="text-center">
              <%= t('all_goals') %>
              (<%= goals_complete(@goals) %>
              <%= t('done').downcase %>)
            </h2>
          </div>

          <%= render 'layouts/search', path: goals_path %>

          <section class="table-body">
            <table>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"><%= sortable('name') %></th>
                <th scope="col" colspan="2"><%= sortable('complete') %></th>
              </tr>
              </thead>
              <tbody>
              <% if @goals.present? %>
                <% @goals.each_with_index do |goal, index| %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= link_to goal.name.truncate(30), goal, style: "text-decoration: none" %></td>
                    <td>
                      <% if goal.complete? %>
                        <span class="badge rounded-pill text-bg-success"><%= t('done') %></span>
                      <% else %>
                        <span class="badge rounded-pill text-bg-light"><%= t('in_process') %></span>
                      <% end %>
                    </td>
                <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </section>
        </div>

        <div class="d-flex justify-content-around">
          <%= link_to t('add_goal'), new_goal_path, class: 'btn btn-primary' %>
          <%= canvas_button 'all_categories', klass: 'mobile-show' %>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"><%= t('filter_or_manage') %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <%= render 'categories/categories' %>
    </div>
  </div>
</div>

