<div id="goals-index">
  <div class="goals-block">
    <div class="mobile-hide">
      <%= render 'categories/categories' %>
    </div>

    <div class="goals-wrapper col-sm-12 col-md-12 col-lg-8 col-xxl-8">
      <div class="table-main">
        <div class="table-wrapper">
          <div class="table-header list">
            <h2 class="title title">
              <%= t('all_goals') %>
            </h2>

            <div class="table-header__info">
              <div class="vr"></div>
              <%= goals_completed(@goals) %>   
            </div>
          </div>

          <%= render 'layouts/search', path: goals_path %>

          <section class="table-body">
            <table>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"><%= sortable('name') %></th>
                <th scope="col" colspan="2"><%= sortable('complete') %></th>
              </tr>
              </thead>
              <tbody>
              <% if @goals.present? %>
                <% @goals.each_with_index do |goal, index| %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= link_to goal.name.truncate(45), goal, style: "text-decoration: none", class: 'hover-link' %></td>
                    <td>
                      <% if goal.complete? %>
                        <span class="badge rounded-pill text-bg-success"><%= t('done') %></span>
                      <% else %>
                        <span class="badge rounded-pill text-bg-light"><%= t('in_process') %></span>
                      <% end %>
                    </td>
                <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </section>

          <div class="buttons-list">
            <%= link_with_icon 'plus-lg', new_goal_path, 'add_goal', data: { turbo_frame: 'remote_modal' }, class: 'btn btn-primary link-icon' %> <!-- TODO - add modal window for form-->
            <%= canvas_button 'all_categories', icon: 'list', klass: 'mobile-show link-icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"><%= t('filter_or_manage') %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <%= render 'categories/categories' %>
    </div>
  </div>
</div>

