<div id="goals-show">
  <div class="col-sm-12 mb-3 p-3 goal-info <%= @goal.complete? ? 'completed' : 'uncompleted' %>">
    <div class="table-header">
      <h2 class="text-center"><%= t('goal_info') %></h2>
    </div>
    <dl class="row mt-3">
      <dt class="col-sm-4"><%= t('activerecord.models.category') %>:</dt>
      <dd class="col-sm-8 px-5"><%= @goal.category.name %></dd>
      <dt class="col-sm-4"><%= t('activerecord.attributes.goal.name') %>:</dt>
      <dd class="col-sm-8 px-5"><%= @goal.name %></dd>
      <dt class="col-sm-4"><%= t('activerecord.attributes.goal.description') %>:</dt>
      <dd class="col-sm-8 px-5"><%= @goal.description %></dd>
      <dt class="col-sm-4"><%= t('activerecord.attributes.goal.deadline') %>:</dt>
      <dd class="col-sm-8 px-5"><%= l(@goal.deadline, format: :long).split(',').first %> </dd>
      <dt class="col-sm-4"><%= t('days_left.base') %>:</dt>
      <dd class="col-sm-8 px-5"><%= days_left(@goal).zero? ? 'Overdue' : days_left(@goal) %></dd>
      <% challenge = @goal.goal_in_challenge&.name.present? %>
      <% if challenge %>
        <dt class="col-sm-4"><%= t('in_challenge') %>:</dt>
        <dd class="col-sm-8 px-5"><%= link_to "#{@goal.goal_in_challenge&.name}", @goal.goal_in_challenge, class: 'hover-link underline' %></dd>
      <% end %>
    </dl>

    <!-- <div class="text-center">
      <%= form_with model: @goal do |f| %>
        <div class="mt-3">
          <%= f.label :complete %>
          <%= f.check_box :complete, {}, true %>
          <%= f.submit "#{@goal.complete? ? t('uncomplete_goal') : t('complete_goal')}",
                       class: "mb-2 btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div> -->

    <div class="col-md-8 offset-md-2 text-center d-flex justify-content-evenly">
      <%= link_to t('back_to_goals'), goals_path, class: "btn btn-sm btn-secondary" %>
      
      <%= link_to @goal, data: { turbo_method: :delete, turbo_confirm: t('sure'),
       modal_title: t('delete_goal') }, class: 'btn btn-danger btn-sm', id: "Goal_#{@goal.id}" do %>
        <%= icon('trash3') %>
      <% end %>
      
    </div>
  </div>

  <div class="completion-wrapper">
    <div class="col-sm-12 mb-5 table-main <%= 'completed' if @goal.habits_streak? %>">
      <div class="table-header">
        <h2 class="text-center">
          <%= t('all_habits').split.last.capitalize %>
          <%= habits_completed_for(@goal).first %>
          <%= t('of') %>
          <%= habits_completed_for(@goal).last %>
        </h2>
      </div>

      <div class="table-wrapper">
        <section class="table-body">
          <table>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><%= t('activerecord.attributes.habit.name') %></th>
              <th scope="col"><%= t('activerecord.attributes.habit.description') %></th>
              <th scope="col"><%= t('complete') %></th>
            </tr>
            </thead>
            <tbody>
            <% @habits.each_with_index do |habit, index| %>
              <tr>
                <% unless habit.name.nil? %>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= link_to habit.name, edit_goal_habit_path(@goal, habit),
                                  style: "text-decoration: none", class: 'hover-link' %></td>
                  <td><%= habit.description.truncate(15) %></td>
                  <td>
                    <%= habit_complete_link(habit, complete_goal_habit_path(@goal, habit)) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </section>

        <div class="buttons-list">
          <%= link_to new_goal_habit_path(@goal),
                      class: "mt-2 btn btn-primary link-icon" do %>
            <%= icon('plus-circle-fill') %>
            <span><%= t('new_habit') %></span>
          <% end %>
          <%= link_to goal_habits_path(@goal),
                      class: "mt-2 btn btn-primary" do %>
            <%= icon('list') %>
            <span><%= t('all_habits') %></span>
          <% end %>
          <%= link_to goal_habit_chart_path(@goal, period: 'day'),
                      class: "mt-2 btn btn-primary" do %>

            <%= icon('graph-up') %>
            <span><%= t('navigation.chart') %></span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-12 table-main <%= 'completed' if @goal.tasks_streak? %>">
      <div class="table-header">
        <h2 class="text-center">
          <%= t('all_tasks').split.last.capitalize %>
          <%= completed_for(@goal).first %>
          <%= t('of') %>
          <%= completed_for(@goal).second %>
        </h2>
      </div>

      <div class="table-wrapper">
        <section class="table-body">
          <table>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><%= t('activerecord.attributes.task.name') %></th>
              <th scope="col">
                <%= sortable 'complete' %>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @tasks.each_with_index do |task, index| %>
              <tr>
                <% unless task.name.nil? %>
                  <th scope="row"><%= index + 1 %></th>
                  <td>
                    <%= link_to task.name.truncate(15), edit_goal_task_path(@goal, task),
                                style: "#{task.complete? ? 'text-decoration: line-through' : 'text-decoration: none'}",
                                class: 'hover-link' %>
                  </td>
                <% end %>
                <td>
                  <%= task_complete_link(task, complete_goal_task_path(@goal, task)) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </section>

        <div class="buttons-list mb-3">
          <%= link_to new_goal_task_path(@goal),
                      class: "mt-2 btn btn-primary" do %>
            <%= icon('plus-circle-fill') %>
            <span><%= t('new_task') %></span>
          <% end %>
          <%= link_to goal_tasks_path(@goal),
                      class: "mt-2 btn btn-primary" do %>
            <%= icon('list') %>
            <span><%= t('all_tasks') %></span>
          <% end %>
          <%= link_to goal_task_chart_path(@goal, period: 'day'),
                      class: "mt-2 btn btn-primary" do %>
            <%= icon('graph-up') %>
            <span><%= t('navigation.chart') %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



