<%= form_with(model: category) do |f| %>
  <%= render "shared/error_messages", resource: category %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-buttons">
    <%= link_to t('close'), '#', data: { bs_dismiss: 'modal' }, class: 'btn btn-secondary' %>
    <%= f.submit "#{category.new_record? ? t('create') : t('update')}", class: "btn btn-primary action" %>
  </div>
<% end %>