<div id="categories-index">
  <div class="categories-wrapper mt-3">
    <div class="action-items">
      <div class="action-items__header">
        <div class="action-items__title"><%= t('all_categories') %></div>
        
        <%= link_with_icon 'plus-lg', new_category_path, 'new_category', data: { turbo_frame: 'remote_modal' }, class: 'btn btn-primary btn-sm new-task link-icon' %>
      </div>

      <div class="divider"></div>

      <ul class="action-list">
        <% if @categories.present? %>
          <% @categories.each do |category| %>
            <li class="action-list__item">
              <span class="fw-bold"><%= category.name %></span>
              <div class="action-list__links">
                <%= link_with_icon 'pencil-square primary-icon', edit_category_path(category), class: 'icon-link' %>

                <%= delete_link_to '', category, 'trash danger-icon', title: 'delete_category_name', name: category.name %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="buttons-list mt-3">
    <%= link_to t('back_to_goals'), goals_path, class: 'btn btn-secondary' %>
  </div>
</div>