<h1 class="text-center"><%= @category.name %> category</h1>
<hr>

<div class="list-wrapper">
  <%= form_with url: goals_path, method: :get, class: 'text-center mb-3' do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search...',
                       class: 'input-group-text',
                       style: 'display: inline-block;' %>
    <%= submit_tag 'Search', class: 'btn btn-primary mb-1' %>
  <% end %>

  <div class="col-sm-12 col-md-12 box">
    <h2>Goals</h2>

    <ul>
      <% if @category.goals.present? %>
        <% @category.goals.each_with_index do |goal, index| %>
          <li class=""><span><%= index + 1 %></span><%= link_to goal.name,
                                                                [@category, goal] %>
          </li>
        <% end %>
      <% else %>
        <p class="text-center fs-4">No goals have yet</p>
      <% end %>
    </ul>
  </div>

  <div class="buttons-list mt-3">
    <%= link_to 'Back to Categories', categories_path, class: 'btn btn-secondary' %>
    <%= link_to 'Add Goal', new_category_goal_path(@category), class: 'btn btn-primary' %>
  </div>
</div>







