<div id="habits-index">
  <div class="all-items mt-3">
    <div class="row">
      <div class="table-wrapper col-sm-12 col-md-12 col-lg-12">
        <div class="table-header">
          <h2 class="text-center"><%= t('completed') %></h2>
        </div>

        <div class="table-body">
          <table>
            <thead class="table-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col"><%= t('name') %></th>
              <th scope="col" class="text-center"><%= t('action') %></th>
            </tr>
            </thead>

            <% if @habits.present? %>
              <% @completed_habits.each_with_index do |habit, index| %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td>
                    <%= link_to habit.name.truncate(15), goal_habit_path(@goal, habit) %>
                  </td>
                  <td class="text-center">
                    <%= link_to t('delete'), goal_habit_path(@goal, habit),
                                data: { turbo_method: :delete },
                                class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="table-wrapper col-sm-12 col-md-12 col-lg-12">
        <div class="table-header">
          <h2 class="text-center">
            <%= t('uncompleted') %>
          </h2>
        </div>

        <div class="table-body">
          <table>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><%= t('name') %></th>
              <th scope="col" class="text-center"><%= t('action') %></th>
            </tr>
            </thead>

            <% if @habits.present? %>
              <% @uncompleted_habits.each_with_index do |habit, index| %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= link_to habit.name.truncate(15), goal_habit_path(@goal, habit) %></td>
                  <td class="text-center"><%= link_to t('delete'), goal_habit_path(@goal, habit),
                                                      data: { turbo_method: :delete },
                                                      class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-list my-3">
    <%= link_to t('back_to_goal'), goal_path(@goal), class: "btn btn-secondary" %>
  </div>
</div>