<h1 class="text-center">Habits#new</h1>

<div class="row">
  <div class="col-md-4 offset-4">
    <%= form_with(model: [@goal, @habit]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "mb-1 form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, class: "mb-1 form-control" %>

      <%= f.submit "Create habit", class: "mb-2 btn btn-primary" %>
    <% end %>
  </div>
</div>

